/*
* @Author: Marte
* @Date:   2019-05-07 20:13:02
* @Last Modified by:   Marte
* @Last Modified time: 2019-05-08 08:54:32
*/
body{
    height: 100%;
    background: url(../images/login_bg.gif) repeat;
    animation: bg  150s linear infinite;
}
@keyframes bg{
    0%{
         background-position: 1200px 1200px;
    }
    100%{
         background-position: 0px 0px;
    }
}
.header{
    width: 100%;
    height: 89px;
    border-bottom: 1px solid #c5c5c5;
    background: #fff;
}
.mid{
    width: 980px;
    margin: 0 auto;
}
.header .logo{
    margin-top: 20px;
    float: left;
}
.header .hint{
    margin-top: 28px;
    height: 30px;
    line-height: 30px;
}
.icon{
    display: inline-block;
    height: 17px;
    width: 17px;
    vertical-align: middle;
    margin: -3px 1px 0 0px;
}
.help{
    margin-right: 30px;
    margin-left: -1px;
}
.help i{
    background: url(../images/loginIcon.gif) no-repeat -1px -1px;
}
.kefu{
    color: #cf0404;
    display: inline-block;
    margin-right: 10px;
    margin-left: 1px;
}

.kefu i{
    background: url(../images/loginIcon.gif) no-repeat
    -25px -1px;
    color: #cf0404;
}
.content{
    overflow: hidden;
}
.content .login_box{
    overflow: hidden;
    padding:70px 15px;
}
.content .login_inner{
    position: relative;
    width: 488px;
    height: 435px;
    border: 1px solid #c5c5c5;
    background: #fff;
}
.login_inner .login_from{
    margin: 20px auto;
    width: 350px;
}
.login_from .login_title{
    margin-bottom: 30px;
    text-align: center;
    height: 28px;
    line-height: 28px;
}
.login_title .head{
    display: inline-block;
    background: url(../images/loginIcon.gif) no-repeat -94px -3px;
    width: 28px;
    height: 28px;
    margin-right: 5px;
    vertical-align: middle;
}
.login_from .text{
    position: relative;
    margin-top: -1px;
    width: 348px;
    height: 52px;
    line-height: 52px;
    border:1px solid #c5c5c5;
}
.text .icons{
    width: 18px;
    height: 18px;
    background: url(../images/loginIcon.gif) no-repeat -46px -2px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    margin-left: 20px;
}
.text .pwdicon{
     background: url(../images/loginIcon.gif) no-repeat -72px -1px;
}
.text input{
    width: 260px;
    height: 24px;
    line-height: 24px;
    padding-bottom: 3px;
    vertical-align: middle;
    text-indent: 20px;
    background: transparent;
    color: rgb(153, 153, 153);
    border: none;
}
.text input:focus{
    outline: none;
}
.login_from .code{
    height: 32px;
    line-height: 32px;
    margin-top: 7px;
}
.code input{
    width: 100px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    text-indent: 10px;
    border: 1px solid #c5c5c5;
}
.code img{
    margin: 0 6px;
    vertical-align: middle;
    height: 32px;
    width: auto;
}
.login_from .autologin{
    height: 54px;
    line-height: 54px;
    color: #999;
}
.autologin input{
    vertical-align: middle;
    margin-right: 3px;
}
.autologin a{
    color: #999;
}
#loginbtn{
    width: 348px;
    height: 42px;
    display: block;
    line-height: 42px;
    color: #fff;
    border: 1px solid #dc0014;
    background: #fe0a2e;
    box-shadow: inset 0 0 1px rgba(255,255,255,0.9);
    cursor: pointer;
    text-align: center;
    font-size: 15px;
}
.line{
    margin-left: 30px;
    background: url(../images/dashed_bg_06.gif);
    height: 7px;
    width: 432px;
}
.other_login{
    width: 350px;
    margin: 10px auto;
    height: 70px;
}
.other_login  a{
    display: inline-block;
    margin-top: 10px;
    margin-right: 20px;
}
.other_login .qq,.zfb,.wx{
    background: url(../images/qq.png) ;
    width: 38px;
    height: 38px;
}
.zfb{
    background: url(../images/zfb.png);
}
.wx{
    background: url(../images/ico38.png);
}
a.reg{
    position: absolute;
    display: block;
    width: 113px;
    height: 38px;
    line-height: 38px;
    color:#fff;
    background: #ff0421;
    text-align: center;
    right: -1px;
    bottom: -38px;
}
.footer{
    margin-top: 50px;
    text-align: center;
    line-height: 22px;
}
.links a{
    margin: 0px 10px;
}